/* to make a rainbow gradient
  background: blue; /* For browsers that do not support gradients
  background: -webkit-linear-gradient(red, orange, yellow, green, blue, indigo, violet); /* For Safari 5.1 to 6.0
  background: -o-linear-gradient(red, orange, yellow, green, blue, indigo, violet); /* For Opera 11.1 to 12.0
  background: -moz-linear-gradient(red, orange, yellow, green, blue, indigo, violet); /* For Firefox 3.6 to 15
  background: linear-gradient(red, orange, yellow, green, blue, indigo, violet); /* Standard syntax */
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.background {
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
  position: relative;
}

.background::after {
  content: "";
  background-image: url('https://static.pexels.com/photos/59519/pexels-photo-59519.jpeg');
  background-position: left;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/*navbar styles*/

nav {
  background: lightgrey;
}
#navz li {
  display: inline-block;
}

#heading {
  margin: 1%;
  margin-bottom: 10%;
}

/*login form*/

 #login {
   background: lightgrey;
   padding: 1%;
   width: 30%;
 }
input {
  margin: 1%;
}

#blogBoss {
  background: lightgrey;
  width: 60%;
  overflow: scroll;
  margin-bottom: 2%;
}
.blog {
  margin: 1%;
  width: 100%;
  height: 100%;
}
img {
  width: 50%;
  height: 50%;
}
footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: darkgrey;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  padding: 2%;
}
